<div class="box">
  <h1>Your Challenge is : (1h)</h1>
  <ol>
    <li>Create 3 components : Header / footer / sign-up </li>
    <li>Header and footer should be shown on placeholderComponent and signUpComponent</li>
    <li>Header : create 2 links : /register and /challenge  </li>
    <li>Add a routing to display the sign up form : /register </li>
    <li>sign up component create a reactive form : Lastname / Firstname / email / password</li>
    <li>Add validation to the form : all fields are required, just disabled the submit button if form is invalid</li>
    <li>Add some styling to make it pretty</li>
  </ol>
</div>

